apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-{{ .Chart.Name }}
  labels:
    app: {{ .Release.Name }}-{{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-{{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-{{ .Chart.Name }}
    spec:
      volumes:
       - name: {{ .Values.storage.claimName }}-data
         persistentVolumeClaim:
           claimName: {{ .Values.storage.claimName }}
      containers:
      - name: {{ .Release.Name }}-{{ .Chart.Name }}
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        ports:
         - containerPort: 8000
        volumeMounts:
         - name: {{ .Values.storage.claimName }}-data
           mountPath: {{ .Values.storage.path }}
        args:
          - "-v"
          - "-d"
          - "{{ .Values.storage.path }}"
      restartPolicy: Always